<beans xmlns="http://www.springframework.org/schema/beans"  
 xmlns:context="http://www.springframework.org/schema/context"  
 xmlns:p="http://www.springframework.org/schema/p"  
 xmlns:mvc="http://www.springframework.org/schema/mvc"  
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
 xsi:schemaLocation="http://www.springframework.org/schema/beans  
      http://www.springframework.org/schema/beans/spring-beans-3.0.xsd  
      http://www.springframework.org/schema/context  
      http://www.springframework.org/schema/context/spring-context.xsd  
      http://www.springframework.org/schema/mvc  
      http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">

	<!-- 数据库连接 -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
	    <property name="driverClass" value="com.mysql.jdbc.Driver" />
	    <property name="jdbcUrl" value="${jdbc.url}" />
	    <property name="user" value="${jdbc.user}" />
	    <property name="password" value="${jdbc.pwd}"/>
	    <property name="maxPoolSize" value="${jdbc.maxPoolSize:100}" />	
	    <property name="acquireIncrement" value="${jdbc.acquireIncrement:2}" />
	    <property name="initialPoolSize" value="${jdbc.minPoolSize:2}" />
	    <property name="minPoolSize" value="${jdbc.minPoolSize:2}" />
	    <property name="maxIdleTime" value="${jdbc.maxIdleTime:90}" />
	    <property name="autoCommitOnClose" value="${jdbc.autoCommit:false}" />
	    <property name="checkoutTimeout" value="${c3p0.checkoutTimeout:3000}" />
	    <property name="maxIdleTimeExcessConnections" value="${c3p0.maxIdleTimeExcessConnections:30}" />
	    <property name="idleConnectionTestPeriod" value="${c3p0.idleConnectionTestPeriod:60}" />
	</bean>
	
	<!-- myBatis文件 -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="mapperLocations" value="classpath:kino/spring/test/mapper/*.xml" />
	</bean>
	
	<!-- 会话 -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.bubugao.shop" />
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory" />
	</bean>
	
	<!-- 事务 -->
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager"
		primary="true">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
</beans>